html {
		background-image: url('images/tlo.jpg');
		font-family: verdana, tahoma, arial;
		margin: 0;
		padding: 0;
}

body {
		width: 988px;
		background-color: #ffffff;
		margin: 10px auto 10px auto;
		padding: 0;
		padding-bottom: 10px;
		border: 1px solid #000000;
}

#naglowek {
		width: 988px;
		height: 250px;
		background-image: url('images/naglowek.jpg');
		margin: 0;
		padding: 0;
}

#naglowek p {
		font-family: tahoma;
		font-size: 30px;
		color: #003344;
		font-weight: bold;
		padding-left: 20px;
		margin: 0;
		padding: 0;
		padding-left: 20px;
		padding-top: 180px;
}

#top_menu {
		width: 968px;
		height: 30px;
		background-image: url('images/top_menu_tlo.gif');
		clear: both;
		font-size: 11px;
		font-weight: bold;
		color: #666666;
		padding: 20px 10px 0px 10px;
		text-align: right;
}

#top_menu a:link, #top_menu a:visited {
		color: #ffffff;
		text-decoration: none;
}

#top_menu a:hover {
		color: #7995a3;
}


.kolumna_boczna {
		width: 270px;
		margin: 0;
}


.lewa {
		float: left;
		clear: both;
}
.prawa { 
		float: right;
}

.kolumna_srodkowa {
		width: 448px;
		float: left;
}

.panel_menu {
		width: 248px;
		background-color: #f0f0f0;
		border: 1px solid #cccccc;
		background-image: url('images/naglowek_boczny_tlo.png');
		background-repeat: no-repeat;
		margin: 10px;
}

a:link, a:visited {
		color: #777777;
		font-weight: bold;
		text-decoration: none;
}
a:hover {
		text-decoration: underline;
}

p.naglowek_boczny {
		margin: 0;
		padding: 0;
		overflow: hidden;
		font-size: 12px;
		font-weight: bold;
		color: #484848;
		text-align: left;
		padding-top: 12px;
		padding-bottom: 12px;
		padding-left: 24px;
}

div.panel_menu ul{
		margin: 0;
		padding: 20px 10px 20px 20px;
		font-size: 11px;
		color: #7995a3;
		font-weight: normal;
		margin-left: 20px;
}

div.panel_menu li {
		margin: 0;
		padding: 0;
		line-height: 18px;
}

div.panel_menu ul li a:link, div.panel_menu ul li a:visited {
		text-decoration: none;
		color: #777777;
		font-weight: normal;
}

div.panel_menu ul li a:hover {
		text-decoration: underline;
}


p.naglowek2 {
		padding: 0;
		padding-top: 0px;
		margin: 10px;
		margin-top: 20px;
		margin-left: 24px;
		color: #787878;
		font-weight: bold;
		font-size: 11px;

}

p.tekst_boczny {
		font-size: 11px;
		color: #a0a0a0;
		margin: 10px;
		margin-left: 24px;
		margin-bottom: 20px;
		padding: 0px;
}

.panel_tresc {
		width: 406px;
		margin: 0;
		margin-top: 10px;
		margin-bottom: 10px;
		background-color: #f8f8f8;
		border: 1px solid #cccccc;
		padding: 0px;
		padding-left: 20px;
		padding-right: 20px;
}

p.naglowek_srodkowy {
		margin-bottom: 15px;
		margin-top: 20px;
		padding: 0px 0px 4px 10px;
		border-left: 10px solid #993333;
		border-bottom: 1px solid #cccccc;
		font-size: 16px;
		color: #567481;
		font-weight: bold;
		text-align: left;
}

p.tresc {
		font-size: 11px;
		line-height: 14px;
		color: #a0a0a0;
		margin: 15px 0px 0px 20px;
		text-align: justify;
		padding-bottom: 20px;
}

#stopka {
		margin: 0px 10px 0px 10px;
		clear: both;
		background-color: #323232;
		border: 1px solid #535353;
		padding: 10px;
}

#stopka p {
		margin: 0;
		padding: 0;
		font-size: 11px;
		color: #ffffff;
		font-weight: normal;
		text-align: center;
}

#stopka p.link {
		margin: 0;
		padding: 0;
		font-size: 10px;
		font-weight: normal;
		text-align: right;
}

#stopka p.link a:link, #stopka p.link a:visited {
		color: #555555;
		text-decoration: none;
		font-weight: normal;
}

#stopka p.link a:hover {
		text-decoration: underline;
}